@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-BoldItalic.woff2') format('woff2'), url('Merriweather-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Light.woff2') format('woff2'), url('Merriweather-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Bold.woff2') format('woff2'), url('Merriweather-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-LightItalic.woff2') format('woff2'), url('Merriweather-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}


/* Novecento */

@font-face {
    font-family: 'Novecento Sans Web';
    src: url('../../fonts/novecentosanswide-normal-webfont.eot');
    src: url('../../fonts/novecentosanswide-normal-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/novecentosanswide-normal-webfont.woff2') format('woff2'), url('../../fonts/novecentosanswide-normal-webfont.woff') format('woff'), url('../../fonts/novecentosanswide-normal-webfont.ttf') format('truetype'), url('../../fonts/novecentosanswide-normal-webfont.svg#novecento_sans_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Novecento Sans Web';
    src: url('../../fonts/novecentosanswide-demibold-webfont.eot');
    src: url('../../fonts/novecentosanswide-demibold-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/novecentosanswide-demibold-webfont.woff2') format('woff2'), url('../../fonts/novecentosanswide-demibold-webfont.woff') format('woff'), url('../../fonts/novecentosanswide-demibold-webfont.ttf') format('truetype'), url('../../fonts/novecentosanswide-demibold-webfont.svg#novecento_sans_widedemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}