  .site-footer {
      background-image: url("../../images/dark-wood.png");
      height: 420px;
      width: auto;
  }
  
  .footer-logo {
      width: 300px;
      height: 150px;
      margin-left: 150px;
      margin-top: 70px;
  }
  
  .footer-container {
      text-align: start;
      margin-left: 200px;
      color: #d99054;
      letter-spacing: 1.5px;
      line-height: 50px;
      font-size: 16px;
      width: 25%;
      margin-top: 50px;
      ul {
          margin: 0;
          padding: 0;
          text-transform: lowercase;
      }
      p {
          font-weight: bold;
          font-family: "Novecento Sans Web";
          text-transform: uppercase;
          margin-bottom: 0;
      }
      li {
          text-transform: lowercase;
      }
  }
  
  .business-hours {
      text-align: start;
      width: 25%;
      margin-left: 10px;
      color: #d99054;
      font-family: "Novecento Sans Web", sans-serif;
      letter-spacing: 1.5px;
      line-height: 50px;
      font-size: 16px;
      margin-top: 50px;
      ul {
          margin: 0;
          padding: 0;
          color: white;
      }
      p {
          text-transform: uppercase;
          font-weight: bold;
          margin-bottom: 0;
      }
  }
  
  .copyright {
      text-transform: capitalize;
      font-family: "Novecento", sans-serif;
      width: 100%;
      text-align: center;
      font-size: 20px;
      color: white;
      margin-top: 80px;
      p {
          margin-bottom: 0;
      }
  }
  
  ul {
      color: white;
      list-style: none;
  }
  
  footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }