                .site-footer {
                    background-image: url("../../images/dark-wood.png");
                    height: 400px;
                }
                
                .footer-container p {
                    width: 1120px;
                    display: flex;
                    justify-content: center;
                    align-items: left;
                    margin: 0 auto;
                    font-size: 16 px;
                    line-height: 1.25;
                }
                
                li {
                    font-family: "Merriweather" Arial, sans-serif;
                    color: white;
                    list-style-type: none;
                    margin: 0;
                    padding: 20px;
                    font-size: 16px;
                }
                
                i {
                    font-family: "Merriweather";
                    color: white;
                    list-style-type: none;
                    margin: 0px;
                    padding: 5px;
                    font-size: 16px;
                }
                
                ul {
                    margin: -30px;
                    font-size: 16px;
                }
                
                .copyright p {
                    color: white;
                    text-align: center;
                    text-transform: uppercase;
                    font-family: "Novecento Sans Web", Arial, sans-serif;
                    padding-top: 25px;
                }
                
                .footer-logo {
                    margin-left: auto;
                    width: 280px;
                    height: auto;
                    padding-bottom: 100px;
                }
                
                .footer-list {
                    p {
                        display: flex;
                        margin-top: 20px;
                        color: #d99054;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        line-height: 1.25rem;
                        font-family: "Novecento Sans Web", Arial, sans-serif;
                        font-weight: bold;
                        font-size: 16px;
                        text-align: center;
                    }
                }