.front-background-image {
    background-image: url("../../images/home-hero.jpg");
    height: 400px;
    width: auto;
    flex: box;
}

.front-background-image h1 {
    font-family: "Novecento Web Sans"
}