.hero-banner {
    height: 100vh;
    width: 100%;
    margin-bottom: 2rem;
    background-repeat: no-repeat;
    background-image: url(../../images/logos/inhabitent-logo-full.svg), linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/home-hero.jpg);
    background-size: 275px, cover, cover;
    background-position: center 50%, center, center;
}

h3 {
    text-transform: capitalize;
    font-family: "Novecento Sans Web";
    font-weight: normal;
    text-align: center;
    font-size: 40px;
}

.taxonomy-sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#shopping {
    width: 20%;
    border: 1px solid grey;
    text-align: center;
    margin: 0 8px;
    img {
        width: 50px;
        height: 50px;
    }
    &:hover {
        border: 3px ridge #d99054;
    }
}

.button {
    background-color: #248a83;
    width: 100px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    &:hover {
        color: #19625d;
    }
}

.boxone {
    display: flex;
    flex-direction: row;
    width: 99%;
    height: auto;
    margin-bottom: 20px;
    a {
        color: white;
        padding: 0.75rem;
        text-decoration: none;
        &:hover {
            color: purple;
        }
    }
    h2 {
        font-size: 33px;
        margin-left: 10px;
    }
}

.one {
    height: 600px;
    width: 100%;
    border: 2px solid #d99054;
    margin-bottom: 20px;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/adventure-photos/canoe-girl.jpg);
    background-size: cover, cover;
    background-position: center, center;
    &:hover {
        border: 5px solid pink;
    }
}

.onex {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 577px;
    width: 50%;
    a {
        width: 210px;
        &:hover {
            color: purple;
        }
    }
}

.boxtwo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    width: 50%;
}

.two {
    height: 250px;
    width: 100%;
    margin: 10px;
    border: 2px solid #d99054;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/adventure-photos/beach-bonfire.jpg);
    background-size: cover, cover;
    background-position: center, center;
    &:hover {
        border: 5px solid pink;
    }
}

.three {
    height: 250px;
    width: 46.3%;
    margin: 10px;
    border: 2px solid #d99054;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/adventure-photos/mountain-hikers.jpg);
    background-size: cover, cover;
    background-position: center, center;
    &:hover {
        border: 5px solid pink;
    }
    h2 {
        margin-top: 0;
    }
}

.four {
    height: 250px;
    width: 46.3%;
    margin: 10px;
    border: 2px solid #d99054;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/adventure-photos/night-sky.jpg);
    background-size: cover, cover;
    background-position: center, center;
    &:hover {
        border: 5px solid pink;
    }
}

#read-entry1 {
    padding: 5px;
    border: 1px solid white;
    background-color: white;
    text-decoration: none;
    color: white;
    background-color: transparent;
    &:hover {
        background: #248a83;
    }
}