#site-navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    img {
        height: 50px;
        width: 50px;
        margin-left: 200px;
    }
    li {
        margin: 0 5px;
    }
    ul {
        margin-right: 100px;
    }
}