/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* Front page */

.content-area {
    .hero-image-header {
        height: 100vh;
    }
    h1 {
        color: white;
        font-size: 3rem;
        text-transform: uppercase;
        font-family: "Novecento Sans Web", sans-serif;
        line-height: 1.25;
    }
    h2 {
        margin-top: 60px;
        font-size: 2.1rem;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: "Novecento Sans Web", sans-serif;
    }
    p {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        font-family: "Merriweather", sans-serif;
    }
}