.products-container {
    display: grid;
    grid-template-columns: repeat(4, 300px [col-start]);
    margin-left: 10rem;
    align-items: center;
    img {
        border-bottom: 5px solid grey;
        height: 300px;
        width: 300px;
    }
    h5 {
        content: ".............";
        flex: nowrap;
        display: inline;
        flex-grow: 1;
    }
    p {
        display: inline;
    }
}

.products {
    border: 1px solid grey;
    margin-right: 10px;
    margin-bottom: 20px;
}

.product-title {
    display: flex;
    justify-content: space-between;
}